# Env for GCS connector. Pin the image and set GCP creds + bucket/filter. Copy to .env.gcs.<env> and use with --env-file.

# Google Cloud Storage connector env (sample)
GCS_IMAGE=dsxconnect/google-cloud-storage-connector:0.5.43  # edit is you need to use a differnt repo or version
# Connector environment mode: dev | stg | prod
DSXCONNECTOR_APP_ENV=dev
GOOGLE_APPLICATION_CREDENTIALS=/app/creds/gcp-sa.json       # (typically unchanged) container mounted location of GCS service account credentials
DSXCONNECTOR_ASSET=your-bucket                              # Required: GCS bucket
DSXCONNECTOR_FILTER=                                        # Optional: bucker filter to apply
DSX_CONNECTOR_ITEM_ACTION=nothing                           # nothing, move, move_tag, delete
DSX_CONNECTOR_ITEM_ACTION_METAINFO=""                       # if move, where to
#DSXCONNECT_ENROLLMENT_TOKEN=abc123                          # Optional: set is dsx-connect uses authentication
